.alert-success{
	background-color: lime;
	text-align: center;
	color: white;
	font-family: Bookman;
	font-size: 25px;
}

.alert-error{
	background-color: red;
	text-align: center;
	color: white;
	font-family: Bookman;
	font-size: 25px;
}