.navbar{
	background-color: lightgrey;
}

nav {
	position: relative;
	width: 50%;
	text-align: center;
  	margin: 0 auto;
}

nav ul {
	position: relative;
	padding: 2%;
	list-style-type: none;
}

nav li {

	font-size: 100%;
	display: inline-block;
}

nav li a {
	padding: 0px 10px;
	color: black;
	background-color: none;
	text-decoration: none;
}

nav li a:hover{
	color: red;
}
