nav {
	width: 50%;
	text-align: center;
  	margin: 0 auto;
}

nav ul {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

nav li {
	font-size: 1em;
	background-color: lightgrey;
	border: 2px solid black;
	display: inline;
}

nav li a {
	padding: 0px 10px;
	color: black;
	background-color: none;
	text-decoration: none;
}
